section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  color: #40b2b2;
  letter-spacing: 4px;
  position: absolute;
  opacity: 0;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top {
  height: 100vh;
}

.eyes {
  position: relative;
  align-self: flex-start;
  width: 100%;
  text-align: center;
  background-color: #fea271;
}
.eye {
  width: 120px;
  height: 120px;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #310510;
}

.ball {
  width: 50px;
  height: 50px;
  background: #310510;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
